.header {
    background-size: 100vw 95%;
    background-position-y: 0;
}

.header__container {
    padding-top: 5px;
    background-color: transparent; 
}

.header__container .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo__header {
    position: static;
    margin: 25px 5px;
}

.nav {
    display: inline-block;
    width: 80%;
}

.nav__hamburger {
    display: none;
}

.nav__list {
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav__link {
    width: auto;
    padding: 15px;
}

.nav__item--children::after {
    font-size: 1rem;
    transform: rotate(90deg) translateX(16px) translateY(10px);
}

.nav__item--children:hover .nav__list--dropdown {    
    background-color: transparent;
    margin: 10px 15px;
    position: absolute;
}

.nav__link--dropdown {
    padding: 5px 5px 5px 0;
}

.nav__item--children:hover > .nav__list--dropdown > .nav__item--dropdown {
    background-color: transparent;
}

.cta-button--download {
    min-width: 100px;
    padding: 12px 20px;
    font-size: .9rem;
    letter-spacing: normal;
    display: inline-block;
    background-color: #42b3fa;
}

.cta-button--download:hover {
    background-color: #37ebed;
}

.hero__info {
    padding: 230px 0px;
    width: 80%;
}

.hero__header {
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: .17rem;
}

.hero__text {
    font-size: .95rem;
}

.hero__image {
    width: 50%;
    margin-top: 140px;
    margin-right: -50px;
}

.hero__png {
    width: 100%;
}

.features__header {
    margin: 105px auto 60px;
    max-width: 500px;
    font-size: 2.9rem;
}

.feature {
    width: 33%;
}

.feature__title {
    max-width: 250px;
}

.product__container {
    margin: 105px auto;
}

.product__article {
    margin: 0 25px;
    width: 45%;
}

.product__header {    
    margin: 20px auto; 
    font-size: 1.9rem;  
    line-height: 2.5rem;
}

.product__figure {
    margin: 0 25px;
    width: 45%;
}

.testimonial {
    min-height: 710px;
    margin: 125px 0;   
    background-position: 50%;
}

.testimonial__header {
    margin: 205px auto 85px;
    max-width: 400px;
    font-size: 2.9rem;
    line-height: 3.4rem;
}

.testimonial__text {
    margin: 0 0 20px;
}

.pricing {
    margin-top: 105px;
}

.pricing__header {    
    margin: -10px auto 18px;
    font-size: 2.8rem;
}

.pricing__text {
    margin: 0 auto 10px;
    padding: 0 100px;
    font-size: 1rem;
    line-height: 1.8rem;
}

.pricing__plans {
    margin: 0 auto;
}

.pricing__plan {
    width: 32%;
    margin: 85px 0;
}

.plan__price,
.plan__type {
    padding: 17px 30px;
    font-size: 1.2rem;
}

.app {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__header-container {
    padding: 165px 45px 175px;
}

.app__header {
    font-size: 2.8rem;
    line-height: 3.6rem;
}

.app__stores {
    margin: auto 45px;
    align-items: center;
}

.app__store {
    margin: 0 5px;
}

.footer__nav {
    padding: 90px 30px 122px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__applab {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 37%;
}

.footer__text {
    margin: 30px 20px 43px 0;
    font-size: 1rem;
    line-height: 1.8rem;
}

.footer__media-link {
    margin-right: 7px;
    padding-top: 5px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
}

.footer__links {
    margin: 20px 0;
    padding: 0 0 0 30px;
    width: 21%;
}

.footer__header {
    margin: 0 0 40px;
    font-size: 1.4rem;
}

.footer__item {
    margin: 15px 0;
}

.footer__link {
    font-size: .8rem;
}