.header {
    background-size: 100vw 95%;
    background-position-y: 0;
}

.header__container {
    padding-top: 5px;
    background-color: transparent; 
}

.header__container .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo__header {
    position: static;
    margin: 25px 5px;
}

.nav {
    display: inline-block;
    width: 80%;
}

.nav__hamburger {
    display: none;
}

.nav__list {
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav__link {
    width: auto;
    padding: 15px;
}

.nav__item--children::after {
    font-size: 1rem;
    transform: rotate(90deg) translateX(16px) translateY(10px);
}

.nav__item--children:hover .nav__list--dropdown {    
    background-color: transparent;
    margin: 10px 15px;
    position: absolute;
}

.nav__link--dropdown {
    padding: 5px 5px 5px 0;
}

.nav__item--children:hover > .nav__list--dropdown > .nav__item--dropdown {
    background-color: transparent;
}

.cta-button--download {
    min-width: 100px;
    padding: 12px 20px;
    font-size: .9rem;
    letter-spacing: normal;
    display: inline-block;
    background-color: #42b3fa;
}

.cta-button--download:hover {
    background-color: #37ebed;
}

.hero__info {
    padding: 230px 0px;
    width: 80%;
}

.hero__header {
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: .17rem;
}

.hero__text {
    font-size: .95rem;
}

.hero__image {
    width: 50%;
    margin-top: 140px;
    margin-right: -50px;
}

.hero__png {
    width: 100%;
}

.features__header {
    margin: 105px auto 60px;
    max-width: 500px;
    font-size: 2.9rem;
}

.feature {
    width: 33%;
}

.feature__title {
    max-width: 250px;
}