.header {
    background-image: url(../images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -80px;
    color: white;
}

.header__container {
    background-color: var(--nav);    
    position: relative; 
}

.logo__header {
    margin: auto 15px;
    position: absolute;
    top: 20px;
}

.nav__hamburger {
    width: 35px;
    height: 35px;
    margin: 25px 15px;
    float: right;
    border: 0;
    border-top: 3px solid #ffffff;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;    
}

.nav__hamburger::before,
.nav__hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffff;
    transform: translateY(8px);
}

.nav__hamburger::after {
    transform: translateY(20px);
    transition: 0.3s transform linear;
}

.nav__toggler:checked + .nav__hamburger {
    transform: rotate(45deg) translateY(5px);
    border: none;
}

.nav__toggler:checked + .nav__hamburger::after {
    transform: rotate(-90deg) translateX(-8px);
}

.nav__toggler {
    display: none;
}

.nav__toggler:checked ~ .nav__list {
    display: block;
}

.nav__list {
    padding-top: 65px;
    padding-bottom: 20px;
    display: none;    
}

.nav__link {
    display: inline-block;
    height: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__list--dropdown {
    display: none;
}

.nav__item--children::after {
    content: '>';
    font-family: monospace;
    font-size: 1rem;    
    position: absolute;
    transform: rotate(90deg) translateX(14px) translateY(5px);
    color: #fff;
}

.nav__item--children:hover .nav__list--dropdown {
    display: block;
    background-color: var(--nav);
}

.nav__item--children:hover::after {
    content: '';
}

.nav__link--dropdown {
    padding-left: 2.5rem;
}

.nav__item--children:hover > .nav__list--dropdown > .nav__item--dropdown {
    background-color: #3b3b3b;
}

.cta-button--download {
    display: none;
}

.hero__info {
    padding: 40px 20px;
}

.hero__header {
    font-size: 2.2rem;
    letter-spacing: .15rem;
    line-height: 2.5rem;
}

.hero__text {
    padding-top: 25px;
    padding-bottom: 60px;
    font-size: 1.2rem;    
}

.hero__image {
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.hero__png {
    width: 95%;
}

.features__header {
    margin: 15px auto;
    font-size: 2.2rem;
    text-align: center;
}

.features__container, 
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    margin: 15px;
}

.feature__icon {
    width: 130px;
    height: 130px;
    margin: 15px;
    border-radius: 25px;
    background: linear-gradient(90deg, #0382f6, #5cb1fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__icon--orange {
    background: linear-gradient(90deg, #fdae5c, #fdaa86);
}

.feature__icon--green {
    background: linear-gradient(90deg, #2dc272, #37ef8d);
}

.feature__img {
    width: 47%;  
}

.feature__title {
    max-width: 320px;
    font-size: 1.9rem;
    text-align: center;
}

.product__header {    
    margin: 65px auto 30px;
    font-size: 2.2rem;
    text-align: center;
}

.product__text {
    margin: 20px;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.cta-button--product {
    margin: 20px;
    background-color: #0181f5;
}

.cta-button--product:hover {
    background-color: #37ebed;
}

.product__figure {
    margin: 20px;
}

.testimonial {
    min-height: 580px;
    margin: 105px 0;
    background-image:
        linear-gradient(rgba(107, 184, 253, .85), rgba(107, 184, 253, .85)),                 
        url(../images/banner/testimonial.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(107, 184, 253, .8);
}

.testimonial__header {
    margin: 110px auto 40px;
    padding: 0 50px;
    font-size: 2.2rem;
    line-height: 2.8rem;
}

.testimonial__text {
    margin: 0 0 35px;
    padding: 0 30px;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.fa-star {
    color: #ffd35a;
    font-size: 1.4rem;
}

.testimonial__author {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
}

.testimonial__author:hover {
    text-decoration: underline;
}

.pricing {
    text-align: center;
}

.pricing__header {    
    margin: -10px auto 20px;
    font-size: 2.2rem;
}

.pricing__text {
    margin: 0 auto 40px;
    padding: 0 20px;
    font-size: 1.2rem;
    line-height: 2rem;
}

.pricing__plans {
    margin: 0 20px;
}

.pricing__plan {
    margin: 40px 0;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(193, 193, 193, .4); 
    box-shadow: 0px 5px 15px 5px rgba(193, 193, 193, .4);
}

.pricing__box {
    display: flex;
    justify-content: space-between;
} 

.pricing__box--basic {
    background-color: #e9f4fe;
    color: #7298f5;
}

.pricing__box--team {
    background-color: #fef4ee;
    color: #fdaf5c;
}

.pricing__box--business {
    background-color: #e8fcf1;
    color: #0cd56b;
}

.plan__type {
    color: #000;
}

.plan__price,
.plan__type {
    padding: 30px 40px;
    font-size: 1.4rem;
}

.plan__text li {
    margin: 41px;
    font-size: 1.2rem;
}

.cta-button--blue {
    min-width: 140px;
    margin: 0 0 41px;
    padding: .7rem;
    color: var(--download);
    border: 1px solid var(--download);
    background-color: transparent;
    font-size: 1rem;
}

.cta-button--blue:hover {
    background-color: var(--download);
    color: #fff;
}

.app {
    margin-top: 65px;
    background-color: var(--download);
}

.app__header-container {
    padding: 120px 30px 15px;
    color: #fff;
}

.app__header {
    font-size: 2.2rem;
    text-align: center;
    line-height: 2.8rem;
}

.app__stores {
    display: flex;
    justify-content: center;
}

.app__store {
    margin: 0 5px 120px;
}

.app__store img {
    height: 60px;
}

.footer {
    color: #fff;    
    background-color: var(--footer);
}

.footer__nav {
    padding: 65px 20px 45px;
}

.footer__logo {
    height: 40px;
}

.footer__text {
    margin: 20px 0 35px;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

.footer__media {
    margin-right: 11px;
    padding-top: 5px;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    display: inline-block;
    background-color: #565656;
    border-radius: 50%;
}

.footer__links {
    margin: 42px 0;
}

.footer__header {
    margin: 30px 0;
    font-size: 1.6rem;
}

.footer__item {
    margin: 26px 0;
}

.footer__link {
    color: #fff;
}

.footer__link:hover {
    text-decoration: underline;
}

.copyright {    
    background-color: #000;
    text-align: center;
}

.copyright__text {    
    margin: 40px 20px;
    display: inline-block;
    line-height: 2rem;
}

.copyright__text a:hover {
    text-decoration: underline;
}