.header {
    background-image: url(../images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -80px;
    color: white;
}

.header__container {
    background-color: var(--nav);    
    position: relative; 
}

.logo__header {
    margin: auto 15px;
    position: absolute;
    top: 20px;
}

.nav__hamburger {
    width: 35px;
    height: 35px;
    margin: 25px 15px;
    float: right;
    border: 0;
    border-top: 3px solid #ffffff;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;    
}

.nav__hamburger::before,
.nav__hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffff;
    transform: translateY(8px);
}

.nav__hamburger::after {
    transform: translateY(20px);
    transition: 0.3s transform linear;
}

.nav__toggler:checked + .nav__hamburger {
    transform: rotate(45deg) translateY(5px);
    border: none;
}

.nav__toggler:checked + .nav__hamburger::after {
    transform: rotate(-90deg) translateX(-8px);
}

.nav__toggler {
    display: none;
}

.nav__toggler:checked ~ .nav__list {
    display: block;
}

.nav__list {
    padding-top: 65px;
    padding-bottom: 20px;
    display: none;    
}

.nav__link {
    display: inline-block;
    height: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__list--dropdown {
    display: none;
}

.nav__item--children::after {
    content: '>';
    font-family: monospace;
    font-size: 1rem;    
    position: absolute;
    transform: rotate(90deg) translateX(14px) translateY(5px);
    color: #fff;
}

.nav__item--children:hover .nav__list--dropdown {
    display: block;
    background-color: var(--nav);
}

.nav__item--children:hover::after {
    content: '';
}

.nav__link--dropdown {
    padding-left: 2.5rem;
}

.nav__item--children:hover > .nav__list--dropdown > .nav__item--dropdown {
    background-color: #3b3b3b;
}

.cta-button--download {
    display: none;
}

.hero__info {
    padding: 40px 20px;
}

.hero__header {
    font-size: 2.2rem;
    letter-spacing: .15rem;
    line-height: 2.5rem;
}

.hero__text {
    padding-top: 25px;
    padding-bottom: 60px;
    font-size: 1.2rem;    
}

.hero__image {
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.hero__png {
    width: 95%;
}

.features__header {
    margin: 15px auto;
    font-size: 2.2rem;
    text-align: center;
}

.features__container, 
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    margin: 15px;
}

.feature__icon {
    width: 130px;
    height: 130px;
    margin: 15px;
    border-radius: 25px;
    background: linear-gradient(90deg, #0382f6, #5cb1fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__icon--orange {
    background: linear-gradient(90deg, #fdae5c, #fdaa86);
}

.feature__icon--green {
    background: linear-gradient(90deg, #2dc272, #37ef8d);
}

.feature__img {
    width: 47%;  
}

.feature__title {
    max-width: 320px;
    font-size: 1.9rem;
    text-align: center;
}